@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

main {
  margin-top: 5rem;
  min-height: calc(100vh - 5rem - 52px);
}

.custom-list {
  counter-reset: list-counter;
}
.custom-list > li {
  counter-increment: list-counter;
  list-style: none;
}
.custom-list > li::before {
  content: counters(list-counter, ".") ". ";
  color: #f44336; /* Tailwind red-500 color */
  margin-right: 4px; /* space between number and content */
}
.custom-list > li > ol {
  margin-left: 1rem; /* indentation for nested lists */
}